[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pimoroni Dashboard
GenericName=Pimoroni Dashboard
Comment=Manage software for Pimoroni products
Exec=/usr/bin/pimoroni
Icon=/usr/share/pixmaps/pimicon.png
Categories=Utility
Terminal=true
