[Desktop Entry]
Encoding=UTF-8
Name=Pimoroni
GenericName=Pimoroni
Comment=Manage software for Pimoroni products
TryExec=lxterminal
Exec=lxterminal --command /usr/bin/pimoroni
Icon=/usr/share/pixmaps/pimicon.png
Type=Application
Categories=Utility;
